---
import '../styles/globals.css';
---
<div class="app-root">
      <header class="top-nav" aria-label="site navigation">
        <nav>
          <ul class="nav-list">
            <li>
              <a class="nav-link"
                href="https://innova-physics-upv.github.io"
                target="_blank"
                rel="noopener noreferrer">
                About us
              </a>
            </li>
            <li><a class="nav-link"  href="NormativaEliac.pdf" target="_blank" rel="noopener noreferrer ">Handbook</a></li>
          </ul>
        </nav>
      </header>

      <main class="content" role="main">
        <div class="site-grid">
          <h1>ELIAC</h1>
          <h2>European Linear Accelerator Challenge</h2>
          <div class="cta-wrap">
            <button class="cta"  onclick="window.open('https://tally.so/r/mVrdGN', '_blank')">Enroll</button>          </div>
        </div>
      </main>
    </div>