---
import '../styles/globals.css';
---
<!doctype html>

<html lang="en">
	<head>
        <meta name="theme-color" content="#000000" />
        <meta name="background-color" content="#ffffff" />
      </head>
	<body>
		<slot />
	</body>
</html>

